* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  --background-main-color: #f6f2f2;
  --primary-color: #800080;
  --text-color: #f6f2f2;
  --text-main-color: #050404;
}

header {
  width: 100%;
  background-color: var(--primary-color);
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;
}

header h2 {
  color: var(--text-color);
}

footer {
  height: 176px;
  background-color: var(--primary-color);

  display: flex;
  justify-content: space-between;
}

footer div {
  height: 100%;
  width: 32%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

footer div ul {
  list-style: none;
  text-align: left;
  width: 60px;
  margin-top: 20px;
}

main {
  height: calc(100vh - 176px - 64px);
  padding: 60px 100px;
  background-color: var(--background-main-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

main div {
  margin-left: 24px;
}

main .content-main {
  display: flex;

  color: var(--text-main-color);
}

.content-main img {
  width: 400px;
  height: 300px;
  border: 5px solid var(--primary-color);
  border-radius: 4px;
}

main button {
  width: 200px;
  height: 48px;

  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;

  border-radius: 2px;

  margin-top: 40px;

  cursor: pointer;
}

main button:hover {
  opacity: 0.8;
}